
<form class="login" [formGroup]="form_registro" (ngSubmit)="registrarse()">
  <div>
    <button class="boton_i" type="submit" routerLink="/">volver</button>
  </div>

  <div class="logo_container">
    <div class="logo">
        <img [src]="logo_2" alt="Logo" class="logo" />
    </div>
  </div>
  
<div class="card">
  <h1 class="textos">Regitrarse</h1>
  <div >

    <app-campo-input id="nombre" label="Nombre" [control]="form_registro.controls.nombre" type="text">
      <app-error-requerido  mensaje="El nombre es requerido" [errors]="form_registro.controls.nombre.errors"></app-error-requerido>
      <app-error-minlenght [errors]="form_registro.controls.nombre.errors"></app-error-minlenght>
      <app-error-maxlenght [errors]="form_registro.controls.nombre.errors"></app-error-maxlenght>
      <app-error-pattern mensaje="Solo se permiten letras, guiones y espacios." [errors]="form_registro.controls.nombre.errors" ></app-error-pattern>
    </app-campo-input>
    
  </div>
 
  <div>
    <app-campo-input id="apellido" label="Apellido" [control]="form_registro.controls.apellido" type="text">
      <app-error-requerido  mensaje="El Apellido es requerido" [errors]="form_registro.controls.apellido.errors"></app-error-requerido>
      <app-error-minlenght [errors]="form_registro.controls.apellido.errors"></app-error-minlenght>
      <app-error-maxlenght [errors]="form_registro.controls.apellido.errors"></app-error-maxlenght>
      <app-error-pattern mensaje="Solo se permiten letras, guiones y espacios." [errors]="form_registro.controls.apellido.errors" ></app-error-pattern>
    </app-campo-input>
  </div>

  <div>
    <app-campo-input id="email" label="Email" [control]="form_registro.controls.email" type="email">
      <app-error-requerido  mensaje="El Email es requerido" [errors]="form_registro.controls.email.errors"></app-error-requerido>
      <app-error-email mensaje="Ingresa un correo electrónico válido." [errors]="form_registro.controls.email.errors"></app-error-email>
    </app-campo-input>
  </div>
  
  <div>
    <app-campo-input id="contrasena" label="Contraseña" [control]="form_registro.controls.contrasena" type="password">
      <app-error-requerido  mensaje="El Contraseña es requerido" [errors]="form_registro.controls.contrasena.errors"></app-error-requerido>
      <app-error-minlenght [errors]="form_registro.controls.contrasena.errors"></app-error-minlenght>
    </app-campo-input>
  </div>
  
  <div>
    <app-campo-input id="fecha_naci" label="Edad" [control]="form_registro.controls.edad" type="int">
      <app-error-requerido  mensaje="La edad es requerido" [errors]="form_registro.controls.edad.errors"></app-error-requerido>
      <app-error-minlenght [errors]="form_registro.controls.edad.errors"></app-error-minlenght>
      <app-error-maxlenght [errors]="form_registro.controls.edad.errors"></app-error-maxlenght>
      <app-error-pattern mensaje="solo se permiten numeros" [errors]="form_registro.controls.edad.errors" ></app-error-pattern>
    </app-campo-input>
  </div>

  <div>
    <app-campo-input id="fecha_naci" label="Tipo de sangre" [control]="form_registro.controls.tipo_sangre" type="text">
      <app-error-requerido  mensaje="El tipo de sangre es requerido" [errors]="form_registro.controls.tipo_sangre.errors"></app-error-requerido>
    </app-campo-input>
  </div>

  <div>
    <app-campo-input id="fecha_naci" label="Color de ojos" [control]="form_registro.controls.color_ojos" type="text">
      <app-error-requerido  mensaje="El Color de ojos es requerido" [errors]="form_registro.controls.color_ojos.errors"></app-error-requerido>
    </app-campo-input>
  </div>

  <div>
    <app-campo-input id="fecha_naci" label="Dias de vacasiones" [control]="form_registro.controls.dias_vacaciones" type="int">
      <app-error-requerido  mensaje="los dias de vacasiones son requerido" [errors]="form_registro.controls.dias_vacaciones.errors"></app-error-requerido>
    </app-campo-input>
  </div>


  <button class="boton_i" type="submit" (click)="abrirSelectorAvatar()">Seleccionar avatar</button>

  @if (mostrarSelectorAvatar()) {
    <div class="modal-avatares">
      @if (isLoadingAvatares()) {
        <p>Cargando avatares...</p>
      } @else {
        <div class="grid-avatares">
          @for (avatar of avatares(); track avatar) {
            <img solid #f8aa19; class="avatars" [src]="avatar" [class.seleccionado]="avatar === avatarSeleccionado()" (click)="elegirAvatar(avatar)"/>
          }
        </div>
      }
      <button class="boton_i" type="submit" (click)="confirmarAvatar()">Elegir</button>
    </div>
  }

  @if (form_registro.controls.foto.value) {
    <img [src]="form_registro.controls.foto.value" class="avatars" />
  }

  
  <button class="boton_i" type="submit" [disabled]="form_registro.invalid">Registrarse</button>
</div>
</form>
