<body>
   <header class="navbar navbar-top">
    <button class="btn_nav" (click)="cerrar_sesion()">Cerrar sesión</button>
  </header>

  <nav class="navbar navbar-menu">
    <button class="btn_nav" (click)="cambiarVista('crear')">Crear</button>
    <button class="btn_nav" (click)="cambiarVista('modificar')">Modificar</button>
    <button class="btn_nav" (click)="cambiarVista('eliminar')">Eliminar</button>
  </nav>
  

  <div class="main-content">
    @switch (vistaActiva()) {
      
      
      @case ('crear') {
        <div class="card">
          <h2 class="textos" style="color: aliceblue;">Crear Película</h2>
          <form [formGroup]="form_crear" (ngSubmit)="crear_pelicula()" class="form-grid">
            <input formControlName="nombre" placeholder="Nombre" class="input full-width-input" />
            <textarea formControlName="sinopsis" placeholder="Sinopsis" class="input full-width-input"></textarea>
            
            <input formControlName="duracion_min" type="number" placeholder="Duración (min)" class="input" />
            <input formControlName="restriccion_edad" type="number" placeholder="Restricción de edad (13, 18 o vacío)" class="input" />
            
            <input formControlName="fecha_estreno" type="date" class="input" />
            <input formControlName="preventa_pct_descuento" type="number" placeholder="% preventa (opcional)" class="input" />
            
            <input formControlName="generos" placeholder="Géneros separados por coma" class="input full-width-input" />

            
            <div class="file-container">
              <label class="file-label">Imagen de película:</label>
              <input type="file" accept="image/*" (change)="cargarImagenCrear($event)" class="input" />
            </div>

            @if (error()) {
              <p class="error full-width-input">{{ error() }}</p>
            }

            <button type="submit" class="boton_i" [disabled]="form_crear.invalid || Guardando()">
              {{ Guardando() ? 'Guardando...' : 'Crear película' }}
            </button>
          </form>
        </div>
      }

     
      @case ('modificar') {
        <div class="card">
          <div class="lista-seccion">
            <h3 class="titulo-seccion">Listado de Películas</h3>
            <div class="peliculas-lista">
              @for (item of peliculas(); track item.id) {
                <div class="pelicula-item" (click)="seleccionar_pelicula_para_editar(item)" style="cursor: pointer; margin-bottom: 5px;">
                  <span class="pelicula-nombre">{{ $index + 1 }}. {{ item.nombre }}</span>
                </div>
              }
            </div>
          </div>

          @if (error()) {
            <p class="error-msg">{{ error() }}</p>
          }

          @if (pelicula_seleccionada()) {
            <form [formGroup]="form_edicion" (ngSubmit)="modificar_pelicula()" class="form-grid">
              <h4 class="subtitulo-seccion full-width">Editar Datos</h4>
              
              <div class="input-grupo-col">
                <label class="label-input">Nombre:</label>
                <input formControlName="nombre" placeholder="Nombre" class="input-custom" />
              </div>

              <div class="input-grupo-col">
                <label class="label-input">Duración (min):</label>
                <input formControlName="duracion_min" type="number" placeholder="Duración" class="input-custom" />
              </div>

              <div class="input-grupo-col full-width">
                <label class="label-input">Sinopsis:</label>
                <textarea formControlName="sinopsis" placeholder="Sinopsis" class="input-custom textarea-custom"></textarea>
              </div>

              <div class="input-grupo-col">
                <label class="label-input">Restricción de edad:</label>
                <input formControlName="restriccion_edad" type="number" placeholder="Ej. 13, 18" class="input-custom" />
              </div>

              <div class="input-grupo-col">
                <label class="label-input">Fecha de estreno:</label>
                <input formControlName="fecha_estreno" type="date" class="input-custom" />
              </div>

              <div class="input-grupo-col">
                <label class="label-input">% Preventa (opcional):</label>
                <input formControlName="preventa_pct_descuento" type="number" placeholder="% preventa" class="input-custom" />
              </div>

              <div class="input-grupo-col">
                <label class="label-input">Géneros:</label>
                <input formControlName="generos" placeholder="Separados por coma" class="input-custom" />
              </div>

              
              <div class="input-grupo-col full-width">
                <label class="label-input">Cambiar imagen (opcional):</label>
                <input type="file" accept="image/*" (change)="cargarImagenEditar($event)" class="input-custom" />
              </div>

              <button type="submit" class="btn-guardar full-width" [disabled]="form_edicion.invalid || Guardando()">
                {{ Guardando() ? 'Guardando...' : 'Guardar cambios' }}
              </button>
            </form>
          }
        </div>
      }

     
      @case ('eliminar') {
        <div class="card">
          <div class="lista-seccion">
            <h3 class="titulo-seccion">Listado de Películas</h3>
            <div class="peliculas-lista">
              @for (item of peliculas(); track item.id) {
                
                <div class="pelicula-item" (click)="form_eliminar.controls.nombre.setValue(item.nombre)" style="cursor: pointer; margin-bottom: 5px;">
                  <span class="pelicula-nombre">{{ $index + 1 }}. {{ item.nombre }}</span>
                </div>
              }
            </div>
          </div>
          
          <div class="eliminar-seccion" style="margin-top: 20px;">
            <label class="label-input">Nombre de la película que deseas eliminar:</label>
            <form [formGroup]="form_eliminar" (ngSubmit)="eliminar_pelicula()" class="input-grupo">
              <input formControlName="nombre" type="text" placeholder="Nombre de la película" class="input-custom" />
              <button type="submit" class="btn-eliminar">Eliminar</button>
            </form>
          </div>

          @if (error()) {
            <p class="error-msg">{{ error() }}</p>
          }
        </div>
      }

    }
  </div>
</body>