
<header class="navbar navbar-top">
  <div class="logo-container">
    @if (logoSrc) {
      <a routerLink="/home"><img  [src]="logoSrc" alt="logo"></a>
    }
  </div>
  <button class="btn_nav" (click)="cerrar_sesion()">Cerrar sesión</button>
</header>

<nav class="navbar navbar-menu">
  <button class="btn_nav" (click)="cambiarVista('crear')">Crear</button>
  <button class="btn_nav" (click)="cambiarVista('modificar')">Modificar</button>
  <button class="btn_nav" (click)="cambiarVista('eliminar')">Eliminar</button>
  <button class="btn_nav" (click)="volver('/home')">Volver</button>
</nav>