.login{
    width: 100%;
        min-height: 100vh;
        background: #971107 ;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 

        box-sizing: border-box;
}

.logo_container{
    width: 100%;
        max-width: min(200px, 40vw);
        margin-top: 10%;
    
}

.logo {
    width: 100%;
    height: auto;
    display: block;
}

.textos {
    width: 100%;
    max-width: 327px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700px;
    font-size: 18px;
    line-height: 150%;
    
    color: #ffffff ;

    margin-bottom: 16px;
}

.input {
    box-sizing: border-box;
    color: #f8aa19 ;
    width: clamp(100vw, 50vw, 600px);
    max-width: 327px;
    height: clamp(30%, 50vh, 60px);
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 5%;
    gap: 10px;

    background: rgba(249, 250, 249, 0.05);
    border: 1px solid #E76F45;
    border-radius: 12px;

    margin-bottom: 10px;
}
input::placeholder{
    color: #f8aa19 ;
}

.boton_i {
    box-sizing: border-box;

    width: 100%;
    max-width: 327px;
    height: 56px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5%;
    gap: 10px;

    background: #f8aa19 ;
    border: none;
    border-radius: 50px;

    margin-top: 1%;
}

.registrate {
    width: 100%;
    max-width: 327px;

    text-align: center;
    
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;

    color: #f8aa19  ;

    margin-top: 5px;   
    padding-bottom: 10px;


}

.registrate_spam {
    color: #f8aa19 ;
    
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
}
